---
import WorksSection from "@/components/sections/WorksSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";

const title = "Hobbies";
const description = "A small collection of my hobbies and side projects.";
const tags = ["Hobbies", "Personal"];
---

<PageLayout title="Hobbies">
  <section class="site-container m-auto">
    <PageHeader
      title="Hobbies"
      description="Here are some of my hobbies and side projects."
    />

    <!-- <WorksSection /> -->
  </section>
</PageLayout>
